/* Video øverst */
#logo {
  position: absolute;
}

#block {
  width: 100%;
  height: 450px;
}

/* Sectioner i midten */

.broedtekst {
  width: 80%;
  text-align: center;
  padding-left: 15%;
}

.roed {
  background-color: #b81d23;
  color: #ffffff;
}

.blaa {
  background-color: #3b589e;
  color: #ffffff;
}

.sectionh1 {
  text-align: center;
}

#testsection {
  background-image: url("../img/vand.jpg");
  color:#ffffff;
}

/* --- FOOTER -- */

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #343434;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}


.footer img {
  max-width: 12%;
  padding-right: 5px;
}

#knaptekst {
  padding: 
}

.droptekst {
  color: #b81d23;
}